*{
    padding: 0px; 
    margin: 0px; 
    
}

section{
    height: 100vh;
    width: 100vw;
}
.indicator{
    width: 5rem; 
    height: 5rem; 
    transition: 0.2s;
    display: block;
    position: absolute;
    /* background: red; */
    border-radius: 100%;
    opacity: 0.6;
}
